- form_for @round do |f|
  .error
    = f.error_messages

  %table
    %tr
      %td= f.label :course_id, t('rounds.course')
      %td= f.select :course_id, options_from_collection_for_select(Course.all, "id", "name"), :prompt => "Select course"
    %tr
      %td= f.label :tee, t('rounds.tee')
      %td= f.select :tee, options_for_select(["Black", "White", "Yellow", "Blue", "Red"]), :prompt => "Select tees color"
    %tr
      %td= f.label :played_on, t('rounds.date')
      %td= f.date_select :played_on, :start_year => 1990
    %tr
      %td{:colspan => 2}
        %table
          %tr
            %th Number
            %th Score
            %th Fairway ?
            %th Green ?
            %th Sand save ?
            %th Putts
          - f.fields_for :round_holes do |builder|
            = render "round_hole", :f => builder
    %tr
      %td{:colspan => 2}
        = f.submit "Save"