%tr
  %td.left= round_short.played_on.strftime('%d %B %Y')
  %td.left= link_to round_short.course.name, round_short
  %td.left= round_short.tee
  %td.center= round_short.score
  %td.center= round_short.fairways
  %td.center= round_short.greens
  %td.center= round_short.putts
