<tr>
  <td>&nbsp;</td>
  <td><%= f.text_field :score, :size => 4 -%></td>
  <td><%= f.check_box :fairway -%></td>
  <td><%= f.check_box :green -%></td>
  <td><%= f.check_box :sandsave -%></td>
  <td><%= f.text_field :putts, :size => 4 -%></td>
</tr>