%tr
  %td.left= I18n.localize(round_short.played_on.to_date, :format => :long)
  %td.left= link_to round_short.course.name, round_short
  %td.left= round_short.tee
  %td.center= round_short.score
  %td.center= round_short.fairways
  %td.center= round_short.greens
  %td.center= round_short.putts
