%tr{:class => "center"}
  %td= f.object.position
  = round_hole_information(f.object)
  %td= f.text_field :score, :size => 4
  %td= f.check_box :fairway
  %td= f.check_box :green
  %td= f.check_box :sandsave
  %td= f.text_field :putts, :size => 4