 
- form_for @round do |f|
  = f.hidden_field :step, :value => "score-card"
  .error
    = f.error_messages

  %table
    %tr
      %td= f.label :tee, t('rounds.tee')
      %td= f.select :tee, options_for_select(["Black", "White", "Yellow", "Blue", "Red"]), :prompt => "Select tees color"
    %tr
      %td= f.label :played_on, t('rounds.date')
      %td= f.text_field :played_on
    %tr
      %td{:colspan => 2}
        %table
          %tr
            %th Number
            %th Score
            %th Fairway ?
            %th Green ?
            %th Sand save ?
            %th Putts
          - f.fields_for :round_holes do |builder|
            = render "round_hole", :f => builder
    %tr
      %td{:colspan => 2}
        = f.submit "Save"