%h1=t("rounds.detail", :course_name => @round.course.name, :played_on => I18n.localize(@round.played_on.to_date, :format => :long))

%table
  %tr
    %td{:colspan => 2}
      %table
        %tr
          %th=t 'rounds.hole.position'
          %th=t 'rounds.hole.distance'
          %th=t 'rounds.hole.par'
          %th=t 'rounds.hole.score'
          %th=t 'rounds.hole.fairway'
          %th=t 'rounds.hole.green'
          %th=t 'rounds.hole.sandsave'
          %th=t 'rounds.hole.putts'
        - @round.round_holes.each do |hole|
          %tr
            %td= hole.position
            = round_hole_information(hole)
            %td= hole.score
            %td= hole.fairway? ? I18n.t('oui') : I18n.t('non')
            %td= hole.green? ? I18n.t('oui') : I18n.t('non')
            %td= hole.sandsave? ? I18n.t('oui') : I18n.t('non')
            %td= hole.putts