<table class="course-card" border="1" width="100%">
  <tr class="hole-positions">
    <th>&nbsp;</th>
  <% @course.holes.each do |hole| %>
    <th><%=h hole.position %></th>
  <% end%>
  </tr>
  <tr>
    <td><%=t 'par' -%></td>
  <% @course.holes.each do |hole| %>
    <td class="hole-par-cell"><%=h hole.par %></td>
  <% end%>
  </tr>
  <tr>
    <td><%=t 'handicap.short' -%></td>
  <% @course.holes.each do |hole| %>
    <td class="hole-handicap-cell"><%=h hole.handicap %></td>
  <% end%>
  </tr>
  <% %w{ black white yellow blue red }.each do |color| %>
    <tr class="hole-info <%= color %>">
      <td>
    <% @course.holes.each do |hole| %>
      <td><%=h hole.info(color).distance %></td>
    <% end%>
    </tr>
  <% end %>
</table>
