<tr class="hole-positions">
  <td><%= f.object.position -%></td>
  <td class="hole-handicap-cell">
    <%= f.hidden_field :position %>
    <%= f.text_field :handicap, :id => "hole_#{f.object.position}_handicap", :size => "5" %>
  </td>
  <td class="hole-par-cell">
    <%= f.text_field :par, :id => "hole_#{f.object.position}_par", :size => "5" %>
  </td>
  <% f.fields_for :hole_informations do |builder| %>
    <%= render "hole_info", :f => builder, :pos => f.object.position %>
  <% end %>
</tr>