<% form_for(@course) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, t('courses.name') %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :par, t('par') %><br />
    <%= f.text_field :par, :size => 2, :maxsize => 2 %>
  </p>
  <p>
    <%= f.label :description, t('courses.description') %><br />
    <%= f.text_field :description %>
  </p>
  <table class="course-card">
    <tr>
      <th><%=t 'holes.number' -%></th>
      <th><%=t 'handicap.short' -%></th>
      <th><%=t 'par' -%></th>
      <% %w{ black white yellow blue red }.each do |color| %>
      <th class="<%= color %>"></th>
      <% end %>
    </tr>
    <% f.fields_for :holes do |builder| %>
      <%= render "course_hole", :f => builder %>
    <% end %>
  </table>
  <p>
    <%= f.submit @course.new_record? ? t('actions.create') : t('actions.save') %>
  </p>
<% end %>