<div id="course-summary">
  <fieldset>
    <legend><%=t 'courses.identification' -%></legend>
    <p>
      <b><%=t 'courses.name' -%>:</b>
      <%=h @course.name %>
    </p>
    <p>
      <b><%=t 'par' -%>:</b>
      <%=h @course.par%>
    </p>
    <p>
      <b><%=t 'courses.description' -%>:</b>
      <%=h @course.description %>
    </p>
  </fieldset>
</div>

<div id="course-card">
  <h2><%=t 'courses.card.title' -%></h2>
  <%= render :partial => "course", :object => @course %>
</div>

<%= link_to t('actions.back'), courses_path %>