<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application', 'header', 'course-card' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="mygt-header">
      <h5 id="mygt-logo">
        <%= link_to "My Golf Tracker", root_path -%>
      </h5>
      <ul id="mygt-account-nav">
        <li><%= link_to t('menu.mystats') -%></li>
        <li><%= link_to t('menu.myrounds'), rounds_path -%></li>
        <li><%= link_to t('menu.myaccount') -%></li>
        <li><%= link_to t('menu.logout') -%></li>
      </ul>
      <ul id="mygt-section-nav">
        <li><%= link_to t('menu.pricing') -%></li>
        <li><%= link_to t('menu.links') -%></li>
        <li><%= link_to t('menu.faq') -%></li>
      </ul>
    </div>
    <div id="content">
      <% if flash[:error] -%><div class="error notice"><h3><%=h flash[:error] -%></h3></div><% end %>
      <% if flash[:notice] -%><div class="notice"><h3><%=h flash[:notice] -%></h3></div><% end %>
      
      <%= yield %>
    </div>
  </body>
</html>
